<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Listeners -->
    <listener>
        <listener-class>listener.ApplicationStartUpListener</listener-class>
    </listener>

    <!-- Filters -->
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>filter.SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginPageFilter</filter-name>
        <filter-class>filter.LoginPageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegistrationFilter</filter-name>
        <filter-class>filter.RegistrationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SignInFilter</filter-name>
        <filter-class>filter.SignInFilter</filter-class>
    </filter>

    <!-- Filters mapping -->
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginPageFilter</filter-name>
        <servlet-name>LoginPageServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegistrationFilter</filter-name>
        <servlet-name>SignUpServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SignInFilter</filter-name>
        <url-pattern>/sign-in</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlet.access.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlet.access.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrUpdateCourseServlet</servlet-name>
        <servlet-class>servlet.core.course_actions.SaveOrUpdateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinNewCoursesServlet</servlet-name>
        <servlet-class>servlet.core.course_actions.JoinNewCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinNewCoursesPageServlet</servlet-name>
        <servlet-class>servlet.core.get_courses.GetAvailableCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCurrentCoursesServlet</servlet-name>
        <servlet-class>servlet.core.get_courses.UserCurrentCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFutureCoursesServlet</servlet-name>
        <servlet-class>servlet.core.get_courses.UserFutureCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentCompletedCoursesServlet</servlet-name>
        <servlet-class>servlet.core.get_courses.StudentCompletedCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherNotGradedCoursesServlet</servlet-name>
        <servlet-class>servlet.core.get_courses.TeacherNotGradedCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseStudentsServlet</servlet-name>
        <servlet-class>servlet.core.students_actions.GetCourseStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeStudentsServlet</servlet-name>
        <servlet-class>servlet.core.students_actions.GradeStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveCourseServlet</servlet-name>
        <servlet-class>servlet.core.course_actions.LeaveCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.access.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>servlet.core.course_actions.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCoursePageServlet</servlet-name>
        <servlet-class>servlet.core.get_courses.GetCourseToEditServlet</servlet-class>
    </servlet>

    <!-- JSP -->
    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <jsp-file>/view/access/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MainMenuPageServlet</servlet-name>
        <jsp-file>/view/core/main-menu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SelectMyCoursesServlet</servlet-name>
        <jsp-file>/view/core/select-my-courses.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RegistrationPageServlet</servlet-name>
        <jsp-file>/view/access/registration.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCoursePageServlet</servlet-name>
        <jsp-file>/view/core/create-new-course.jsp</jsp-file>
    </servlet>


    <!-- Servlets mapping -->
    <servlet-mapping>
        <servlet-name>CreateNewCoursePageServlet</servlet-name>
        <url-pattern>/main-menu/create-new-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCoursePageServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/edit-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/main-menu/log-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectMyCoursesServlet</servlet-name>
        <url-pattern>/main-menu/select-courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainMenuPageServlet</servlet-name>
        <url-pattern>/main-menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveCourseServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/leave-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/delete-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrUpdateCourseServlet</servlet-name>
        <url-pattern>/main-menu/create-or-update-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeStudentsServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/my-not-graded-courses/students/grade-students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseStudentsServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/my-not-graded-courses/students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCurrentCoursesServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/my-current-courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFutureCoursesServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/my-future-courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCompletedCoursesServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/my-completed-courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherNotGradedCoursesServlet</servlet-name>
        <url-pattern>/main-menu/select-courses/my-not-graded-courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinNewCoursesServlet</servlet-name>
        <url-pattern>/main-menu/join-new-courses/join-selected-courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/login-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPageServlet</servlet-name>
        <url-pattern>/registration-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinNewCoursesPageServlet</servlet-name>
        <url-pattern>/main-menu/join-new-courses</url-pattern>
    </servlet-mapping>

</web-app>
